$brand: #0ea5e9;
$bg: #ffffff;
$bg-dark: #0f172a;
$error_color: #ce0000;
$bg-primary-button: #0ea5e9;
$bg-primary-button-active: #f3f4f6;
$color-button-text: #fff;
$color-button-text-active: #111827;
$text: #111827;
$font-stack: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
