@use "variables" as *;
@use "mixins" as *;

html, body {
    height: 100%;
    margin: 0;
    font-family: $font-stack;
    background: $bg;
    color: $text;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

a {
    color: $brand;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.error {
    color: $error_color;
}

.success {
    color: #065f46;
}

.error-page {
    padding: 1rem;
    padding-top: 4rem;
    max-width: 960px;
    margin: 0 auto;

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__details {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        color: #555;
    }

    &__stack {
        padding: 1rem;
        overflow-x: auto;
        background: #f4f4f4;
        border-radius: 6px;
        font-size: 0.9rem;

        code {
        white-space: pre;
        }
    }
}
