$border_color: #ccc;

.wrapper {
    padding: 1rem;

    h1 {
        margin-bottom: 1rem;
    }

    .controls {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    input {
        padding: 0.5rem;
        border: 1px solid $border_color;
        border-radius: 4px;
    }

    select {
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid $border_color;
        background-color: $bg-primary-button-active;
        color: $color-button-text-active;
        font-weight: 600;
    }

    .error {
        color: $error_color;
        margin-bottom: 28px;
    }

    .pagination {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .delete {
        color: $error_color;
        margin-top: 28px;
        font-weight: 400;
        background-color: $bg-primary-button-active;
    }

    .delete:hover {
        background-color: $bg;
    }
}
