.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th, td {
        border: 1px solid #ddd;
        padding: 0.5rem;
        text-align: left;
    }

    th {
        background: #f3f4f6;
    }

    tbody tr:hover {
        background: #f9fafb;
    }

    .active {
        background: $bg-primary-button;
        color: $color-button-text;
    }
}
